.table .btn {
  margin-right: 5px;
}
.header {
  height: 60px;
}
.header ul {
  height: 60px;
}
.header ul li {
  height: 60px !important;
}
.header ul li a {
  color: #fff;
}
.header ul li a:hover {
  color: #000;
}
.fa-2x {
  font-size: 2em !important;
}
.text-green {
  color: #32cd32;
}
.icon-btn {
  height: auto !important;
  border-color: #32cd32;
}
.icon-btn h2 {
  margin-left: 10px;
  margin-right: 10px;
  color: #32cd32;
}
.icon-btn .fa-3x {
  font-size: 3em !important;
  line-height: normal !important;
  color: #32cd32;
}
.bottommargin {
  margin-bottom: 15px;
}
/*Multiple Upload*/
.uploadGroup {
  position: relative;
  width: 100%;
  min-height: 200px;
  border: 4px dashed #39bfd3;
  margin-bottom: 10px;
}
.uploadGroup .insideText {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #39bfd3;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.uploadGroup .prev-image,
.uploadGroup .prev-schedaCapo,
.uploadGroup .prev-programma,
.uploadGroup .prev-cartamodello {
  position: relative;
  font-size: 18px;
  z-index: 3;
}
.uploadGroup .multipleUp {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.uploadGroup .fa-3x {
  font-size: 3em !important;
  line-height: normal !important;
}
.upf {
  position: relative;
  overflow: hidden;
}
.upf .upf-inner {
  position: relative;
  width: 100%;
  min-height: 70px;
}
.upf .upf-inner .fa-3x {
  font-size: 3em !important;
  line-height: normal !important;
}
.upf .upf-details {
  color: #fff;
  width: 100%;
  height: 100%;
  bottom: -100%;
  text-align: center;
  position: absolute;
  background: #0da3e2;
}
.upf :hover .upf-details {
  bottom: 0;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.upf .upf-details h6 {
  color: #fff;
  font-size: 10px;
  word-break: break-word;
}
.upf .upf-details p {
  padding: 0 30px;
}
.upf .upf-details i {
  color: #fff;
  font-size: 14px;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  display: inline;
}
.dd-handle {
  padding: 0;
  height: auto;
}
.img-thumbnail {
  border-radius: 0px;
}
.copertina {
  background-color: #32cd32;
}
.copyright a {
  color: #fff;
}
.page-logo img {
  height: 45px;
  padding-top: 5px;
  margin: 5px 0px 0px 0px !important;
}
.menu-logo {
  display: block;
  text-align: center;
}
.menu-logo a img {
  height: 100px;
}
.table-scrollable {
  width: 100% !important;
  overflow-x: visible;
  overflow-y: visible;
}
.table-scrollable > .table > thead > tr > th,
.table-scrollable > .table > tbody > tr > th,
.table-scrollable > .table > tfoot > tr > th,
.table-scrollable > .table > thead > tr > td,
.table-scrollable > .table > tbody > tr > td,
.table-scrollable > .table > tfoot > tr > td {
  white-space: pre-wrap !important;
  word-break: break-all !important;
}
/*FancyBox*/
.fancybox-overlay {
  z-index: 9996 !important;
}
.fancybox-opened {
  z-index: 9997 !important;
}
@media (max-width: 999px) {
  .table-scrollable {
    width: 100% !important;
    overflow-x: auto;
    overflow-y: visible;
  }
  .page-logo img {
    display: block;
    height: 50px;
    margin: 0 !important;
  }
  .header .page-logo {
    height: 50px;
  }
  .menu-logo {
    display: none !important;
  }
  .menu-logo a img {
    height: 100px;
  }
}