<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Location" value="Work" />
    <!--<add key="Location" value="Demo" />-->
    <!--<add key="Location" value="Online" />-->
  </appSettings>
  <connectionStrings>
    <add name="MyConnection" connectionString="Data Source=192.168.0.22\SQLEXPRESS2008R2;Initial Catalog=dbconsensi;Persist Security Info=True;User ID=sa;Password=0Vmeganga0" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFServer.APIService" behaviorConfiguration="metadataSupport">
          <endpoint address=""
                    binding="basicHttpBinding"
                    contract="WCFServer.IAPIService"
                    bindingConfiguration="basicBinding">
          </endpoint>
          <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" >
          </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed"
                    openTimeout="00:10:00"
                    closeTimeout="00:10:00"
                    sendTimeout="00:10:00"
                    receiveTimeout="00:10:00">
          <security mode="None"></security>
          <readerQuotas maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
